section.single-hero.single-hero_manchurian
	.single-hero__container.container
		h1.single-hero__title.animate-title Орех маньжурский
		p.single-hero__subtitle Биологические особенности и полезные свойства
