section.content.content-second.white
	.content__container.container
		.content__manchurian.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/manchurian-walnut-female-flowers.jpg" alt="Ветвь с женскими цветками ореха манчжурского")
				p.content-flex__img-descr Ветвь с женскими цветками ореха манчжурского
			.content-flex__info
				p.content-flex__txt
					| Пестичные цветки по 3-12 в кистях. Ось кисти, как и пестики, серовато-зеленые, густо-железисто-опушенные, пестики продолговато-бутыльчатые с длинными узкими рыльцами, красного цвета.
				p.content-flex__txt
					| Деревья ореха маньчжурского резко дихогамичны и одновременного цветения тычиночных и пестичных цветков на одной и той же особи не наблюдается. Цветки его цветут одновременно с листораспусканием в конце апреля – в начале мая (Украина) и до средины мая (в Туле), и обычно часто повреждаются весенними морозами в мае. В условиях Харбина цветение маньчжурского ореха начинается в начале мая и продолжается по июнь.
		.content__walnut.content-flex.content-flex-right.d-flex
			.content-flex__img
				img(src="./dist/assets/img/nut-fruit-manchurian.jpg" alt="Плод грецкого ореха")
			.content-flex__info
				p.content-flex__txt
					| <span>Плоды ореха маньчжурского</span> изменчивы по форме, от яйцевидных до овальных и продолговатых. Перикарп длиной 4-6 см и толщиной 2-4 см, клейкий, железисто-опушенный, нераскрывающийся. Эндокарп заостренный, темно-бурый, длиной до 5 см и толщиной 2-3 см с 8 продольными швами и гладкобороздчатой поверхностью между ними. Скорлупа очень толстая и твердая с многочисленными лакунами внутри. Ядро семени маслянистое, по массе составляет 15-19% от массы эндокарпа, по вкусу не отличается от вкуса семени ореха грецкого, извлекается с трудом, жирность до 70%.
				p.content-flex__txt
					| Плодоносить в Киеве этот вид начинает очень рано, с 6-7 и даже с 5-летнего возраста.
				p.content-flex__txt
					| В условиях Тульской области плодоношение ореха маньчжурского начинается с 5-ти летнего возраста. Плоды созревают (у разных сортообразцов) с конца августа до конца сентября. Среди тульских форм маньчжурского ореха встречаются формы с выходом ядра до 22-25%, с широкими лакунами и относительно легким извлечением ядра.
