section.content.content-first.beige
	.content__container.container
		.content__walnut.content-float
			.content-float__image
				img(src="./dist/assets/img/tree-manchurian.jpg" alt="Орех маньчжурский")
			.content-float__info.scroll-effects
				h2.content-float__title.section-title <span> Орех маньчжурский (Juglans manshurica Max.)</span>
				p.content-float__subtitle
					| вид листопадных однодомных деревьев или кустарников рода Орех семейства Ореховые (Juglandaceae)
				p.content-float__txt
					| Орех маньчжурский (Juglans manshurica Max.) широко естественно распространен в Северном Китае, Маньчжурии, Корее, в России – на Дальнем Востоке – в южной части Хабаровского края, в Приморском крае, на юге острова Сахалина и на Курильских островах. Растет преимущественно по берегам рек, в понижениях, поднимаясь в горы до 400 м, встречается обычно на лучших по плодородию почвах.
					| Является спутником хвойных насаждений из кедра корейского, ели саянской и широколиственных лесов с участием дуба монгольского, дальневосточных видов клена и других пород. Чистые насаждения образует очень редко.
				p.content-float__txt
					| Растет деревом высотой до 20-27 м и 1 м в диаметре. Долговечность до 200 лет.
		.content__description.content-descr.d-flex
			.content-descr__info.content-descr__info_first
				p.content-descr__txt
					| Кора ствола до 20-летнего возраста гладкая, серая, затем растрескивающаяся, темно-бурая, очень толстая. Побеги до 0,8 см толщины светло-зеленоватые, в верхней части железисто-опушенные с желтыми чечевичками до 0,6 см длины. Почки на концах побегов продолговато-яйцевидные, желтовато-бурые, густоопушенные, длиной до 1 см и шириной 0,7 см, боковые мелкие, до 0,2-0,3 см в диаметре, и также густоопушенные часто по 2 одна над другой.
				p.content-descr__txt
					| Листья крупные, до 45-60 см длины, иногда, особенно на поросли, значительно крупнее, с 9-21 листочком. Листочки продолговато-эллиптические, с почти параллельными зубчатыми краями, в основании округлые, в вершине клиновидно-заостренные, с верхней стороны зеленые или светло-зеленые со звездчатыми волосками, с нижней бледноватые, густо-волосистые, длиной 10-21 см и шириной 4-8 см. Рахис - густоопушенный.
				p.content-descr__txt
					| Сережки с тычиночными цветками длиной 10-30 см и 1 см в диаметре, часто растут вместе по 2-4 сережки. В тычиночном цветке заключено 9-14 тычинок.
			.content-descr__info
				img(src="./dist/assets/img/walnut-shoots-manchures.jpg" alt="побеги грецкого ореха").content-descr__img
