section.content.content-third.beige
	.content__container.container
		.content__manchurian.content-mansory
			.content-mansory__cards.content-mansory__cards_walnut
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-1.png" alt="card icon")
						p.card__title Отношение к влаге
						.card__descr
							p.card__txt
								| Отличается влаголюбием, требовательностью к плодородным, но легким суглинистым или супесчаным почвам, свежим или влажным. Особенностью этого вида в южных условиях является раннее распускание листьев весной и ранний же листопад осенью. С этим связана подверженность его поздними весенними заморозками в мае, от которых страдают побеги, теряется прирост, нарушается прямоствольность, появляется вильчатость.
							p.card__txt При не достатке влаги ядро плодов часто щуплое, усохшее, слабо выполнено.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-6.png" alt="card icon")
						p.card__title Отношение к низким<br>температурам
						.card__descr
							p.card__txt
								| В странах Европы и на европейской части России культура ореха маньчжурского имеет уже вековую давность. Установлена повсюду его высокая зимостойкость. Об исключительной морозостойкости этого вида свидетельствуют также результаты выращивания его в ряде мест Центральной Сибири – Красноярске, Минусинске, Абакане и др. В этих условиях он в 40-летнем возрасте достигает высоты 12 м и 23,6 см в диаметре.
							p.card__txt
								| Несколько лучшим ростом он обладает в Ленинграде. Так, орех маньчжурский в дендросаде и парке ЛТА хотя и страдает от низких температур в суровые зимы, однако отдельные деревья его растут неплохо и плодоносят, достигая в возрасте 62 лет высоты 23 м, 71 см в диаметре и 17,5 м в поперечнике кроны.
							p.card__txt
								| В более северных условиях, в ботаническом саду Петрозаводского университета, орех маньчжурский оказался наиболее устойчивым среди других видов орехов, не подмерзает, цветет и плодоносит.
							p.card__txt
								| В условиях Тульской области орех маньчжурский выдерживает морозы до -36 -38°С (редкие, краткосрочные морозы по утрам), но страдает от весенних заморозков.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-5.png" alt="card icon")
						p.card__title Отношение к теплу
						.card__descr
							p.card__txt Слабая засухо- и жароустойчивость – вторая нежелательная для культуры биологическая особенность ореха маньчжурского. Существует линия Луцк-Киев-Сумы-Воронеж-Саратов, южнее которой не рекомендуется выращивать орех маньчжурский в лесных культурах. В более северных от этой линии районах он растет хорошо, особенно в местах, где отсутствуют весенние возвраты морозов.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-8.png" alt="card icon")
						p.card__title Качества древесины
						.card__descr
							p.card__txt Древесина высоких технических свойств, сходная с древесиной бархата амурского и кедра, но уступает древесине орехов грецкого и черного, несколько превосходит древесину ореха серого. Широко используется также в мебельном производстве, самолетостроении, идет на отделку помещений внутри зданий, вагонов, автомобилей и др.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-9.png" alt="card icon")
						p.card__title Антимикробное дествие
						.card__descr
							p.card__txt Орех маньчжурский обладает хорошо выраженным антимикробным действием и по бактерицидной активности превосходит такие ценные аборигенные породы, как дуб, липа и сосна. Все части растения обладают лекарственными свойствами.
			.content-flex.content-flex-left.d-flex
				.content-flex__img.content-flex__img_bg-position
					img(src="./dist/assets/img/landscape-design.jpg" alt=" Орех маньжурский")
					p.content-flex__img-descr.content-flex__img-descr_mw-520  Орех маньжурский в озеленении и ландшафтном дизайне
				.content-flex__info.content-flex__info_white-border
					p.content-flex__txt.content-flex__txt_mb
						| На серых лесных суглинках при смешении с кустарниками, кленом остролистным и липой мелколистной орех растет хорошо, достигая в 15-летнем возрасте высоты 7,8 м и 7 см в диаметре. При смешении с дубом быстро заглушается этой породой и выпадает. В лесных культурах орех должен высаживаться в качестве главной породы с расстоянием между деревьями не менее 10 м.
					p.content-flex__txt.content-flex__txt_mb
						| <span>В Белоруссии</span>, орех маньчжурский встречается в разного рода посадках – лесных культурах, озеленении населенных мест, дорог, в парках и садах. <span>В Латвии</span> орех маньчжурский относится к ценным декоративным видам с высокой зимостойкостью и перспективным для широкого использования в лесных культурах.
					p.content-flex__txt.content-flex__txt
						| <span>В московской области</span> орех маньчжурский растет вдвое быстрее, чем на родине. Так, в 8-летнем возрасте в Москве высота его равна 6 м, диаметр 9 см, а <span>на Дальнем Востоке</span> соответственно 2,2 м и 3,7 см; в 20 лет в Москве 10 м и 22 см, на родине 6 м и 7,8 см и, наконец, в 50 лет высота его в Москве равна 27 м, диаметр 65 см, а в естественных условиях только 14 м и 20 см. В лесной опытной даче ТСХА под пологом соснового насаждения растет хорошо, плодоносит. Выращено его второе поколение, которое не страдает от заморозков и морозов.
			.content-mansory__descr.content-mansory__descr_pt
				p.content-mansory__txt.content-mansory__txt_mb
					| Плоды ореха маньчжурского после созревания и сбора очищают от перикарпа и сеют в ту же осень или стратифицируют в течение осени и зимы до посева весной. Глубина посева осенью 8-9, весной 6-7 см. Для посева следует использовать семена с лучших (элитных) деревьев местного происхождения или из соседних районов. Ценные формы размножаются прививкой и окулировкой.
				p.content-mansory__txt.content-mansory__txt_bold Агротехника схожа с агротехникой других орехоплодных культур.
