section.single-hero.single-hero_heart-shaped
	.single-hero__container.container
		h1.single-hero__title.animate-title Орех сердцевидный
		p.single-hero__subtitle Биологические особенности и полезные свойства
