section.content.content-third.beige
	.content__container.container
		.content__walnut.content-mansory
			.content-mansory__descr
				.content-mansory__txt
					| В культуре орех сердцевидный встречается реже ореха Зибольда, хотя и заслуживает большего внимания вследствие урожайности, высокого качества плодов и исключительной декоративности благодаря пышной кроне, крупным листьям, цветкам с яркими красными рыльцами и гроздевидным плодам.
			.content-mansory__cards.content-mansory__cards_walnut
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-6.png" alt="Отношение к низким температурам")
						p.card__title Отношение к низким<br>температурам
						.card__descr
							p.card__txt В условиях Тульской области орех сердцевидный показывает высокую зимостойкость, а также устойчивость к отрицательным температурам. Он выдерживает без повреждения морозы до -32 -34°С.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-7.png" alt="Размножение")
						p.card__title Размножение
						.card__descr
							p.card__txt Размножение ореха сердцевидного. Размножается посевом семян, а также вегетативным способом - прививкой, окулировкой. В середине января семена стратифицируют для весеннего посева. Наиболее целесообразен посев сразу на постоянное место, так как орех сердцевидный плохо переносит пересадку саженцев. Глубина заделки семян при посеве не более 5-6 см.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-1.png" alt="Отношение к влаге")
						p.card__title Отношение к влаге
						.card__descr
							p.card__txt Орех сердцевидный чувствителен к недостатку влаги, особенно во второй половине лета и сентябре, когда идет налив ядра. В засушливые годы ядро бывает щуплым.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-12.png" alt="Очистка воздуха")
						p.card__title Очистка воздуха
						.card__descr
							p.card__txt Сердцевидный орех отличается способностью очищать воздух от паров бензина, ацетилена. Поэтому этот вид, как и другие виды орехов, особенно целесообразно высаживать в местах, загрязненных этими выделениями.
			h3.content-mansory__title
				| Использование в зеленом строительстве
			.content-mansory__descr
				.content-mansory__txt
					| При создании лесных культур и парковых групп орех сердцевидный не следует смешивать, как и другие виды орехов, с аборигенными деревьями 1-го яруса и с быстрорастущими подгоночными породами. В этом отношении следует придерживаться тех же правил, что и при выращивании ореха грецкого. Расстояние между деревьями должно быть не менее 10 м.
