section.content.content-second.white
	.content__container.container
		.content__walnut.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/siebold-walnut-flowers.jpg" alt="Цветение ореха айлантолистного Зибольда")
				p.content-flex__img-descr Цветение ореха айлантолистного Зибольда
			.content-flex__info
				p.content-flex__txt
					| <span>Цветение ореха сердцевидного. </span>
				p.content-flex__txt.no-indent
					| Орех сердцевидный относится к однодомным растениям, то есть, мужские и женские цветки располагаются на одном дереве. Мужские цветки-сережки имеют длину до 20 см и толщину около 1 см. Обычно цветок содержит до 25 тычинок. Женские пестичные цветки собраны в соцветие типа «кисть» примерно по 10 штук в каждом. Рыльца женских цветков имеют характерный розово-красный цвет.
				p.content-flex__txt
					| Мужское цветение сережками проходит в Туле в конце мая – начале июня.
				p.content-flex__txt.no-indent
					| Женское цветение в Туле – в первой декаде июня.
					| Позднее цветение ореха сердцевидного позволяет уходить ему от поздних весенних заморозков.
		.content__walnut.content-flex.content-flex-center.d-flex
			.content-flex__info
				p.content-flex__txt
					| Эндокарп (орех) длиной до 4 см и шириной 3 см, сердцевидной формы с вытянутой в острие вершиной, светло-буровато-коричневый с гладкой тонкой скорлупой и двумя слабо выделяющимися швами. Масса эндокарпа 4-5 г, выход ядра до 30% от массы эндокарпа, оно вкусное, жирность 64-67%. По ценности плодов орех сердцевидный также не отличается от грецкого, а по вкусу даже превосходит плоды последнего. Существует мнение, что орех сердцевидный является самым вкусным среди орехов. Ядро характеризуется высокой жирностью и низким количеством дубильных веществ, что не вызывает горечи и першения в горле.
				p.content-flex__txt
					| В США выделены сорта сердцевидного ореха с тонкой скорлупой и большим выходом ядра. Blunt, CW-1, Locket, LP-1, Franks, Stealth, Simcoe, Char. Также есть тонкокорые формы (не сорта) ореха сердцевидного в Японии с выходом ядра до 35%. Найдены такие формы в Москве, Воронеже, Туле.
				p.content-flex__txt
					| Плоды созревают в сентябре (в Туле – в конце сентября, в Москве – до средины октября), их очищают от перикарпа и сохраняют в сухом, прохладном помещении.
			.content-flex__img.mb-30
				img(src="./dist/assets/img/walnut-heart-shaped/nut(1).jpg" alt="Плоды ореха сердцевидного").height-auto
				p.content-flex__img-descr.pos-relative Плоды ореха сердцевидного сорта Blunt<br>выход ядра – 25,6-26,5%
			.content-flex__img.mb-30
				img(src="./dist/assets/img/walnut-heart-shaped/nut(2).jpg" alt="Плоды ореха сердцевидного").height-auto
				p.content-flex__img-descr.pos-relative Плоды ореха сердцевидного сорта CW-1<br>выход ядра – 29,7-31%
			.content-flex__img.mb-30
				img(src="./dist/assets/img/walnut-heart-shaped/nut(3).jpg" alt="Плоды ореха сердцевидного").height-auto
				p.content-flex__img-descr.pos-relative Плоды ореха сердцевидного сорта Locket<br>выход ядра – 24,5-29%
			.content-flex__img.mb-30
				img(src="./dist/assets/img/walnut-heart-shaped/nut(4).jpg" alt="Плоды ореха сердцевидного").height-auto
				p.content-flex__img-descr.pos-relative Плоды ореха сердцевидного сорта LP-1<br>выход ядра – 36-37%
			.content-flex__img.mb-30
				img(src="./dist/assets/img/walnut-heart-shaped/nut(5).jpg" alt="Плоды ореха сердцевидного").height-auto
				p.content-flex__img-descr.pos-relative Плоды ореха сердцевидного сорта Franks<br>выход ядра – 24-26%
			.content-flex__img.mb-30
				img(src="./dist/assets/img/walnut-heart-shaped/nut(6).jpg" alt="Плоды ореха сердцевидного").height-auto
				p.content-flex__img-descr.pos-relative Плоды ореха сердцевидного сорта Stealth<br>выход ядра – 24-28%
			.content-flex__img.mb-30
				img(src="./dist/assets/img/walnut-heart-shaped/nut(7).jpg" alt="Плоды ореха сердцевидного").height-auto
				p.content-flex__img-descr.pos-relative Плоды ореха сердцевидного сорта Simcoe<br>выход ядра – 29,8-33,5%
			.content-flex__img.mb-30
				img(src="./dist/assets/img/walnut-heart-shaped/nut(8).jpg" alt="Плоды ореха сердцевидного").height-auto
				p.content-flex__img-descr.pos-relative Плоды ореха сердцевидного сорта Char<br>выход ядра – 21,8-23%
			.content-flex__img.mb-30
				img(src="./dist/assets/img/walnut-heart-shaped/nut(9).jpg" alt="Плоды ореха сердцевидного").height-auto
				p.content-flex__img-descr.pos-relative Плод ореха сердцевидного Япония<br>выход ядра 27-35%
			.content-flex__img.mb-30
				img(src="./dist/assets/img/walnut-heart-shaped/nut(10).jpg" alt="Плоды ореха сердцевидного").height-auto
				p.content-flex__img-descr.pos-relative Плод ореха сердцевидного Москва<br>выход ядра – 28-31,5%
			.content-flex__img
				img(src="./dist/assets/img/walnut-heart-shaped/nut(11).jpg" alt="Плоды ореха сердцевидного").height-auto
				p.content-flex__img-descr.pos-relative Плод ореха сердцевидного тульский Л-1<br>выход ядра – 28-32%
			.content-flex__img
				img(src="./dist/assets/img/walnut-heart-shaped/nut(12).jpg" alt="Плоды ореха сердцевидного").height-auto
				p.content-flex__img-descr.pos-relative Плод ореха сердцевидного тульский Л-2<br>выход ядра – 26-30%
