section.content.content-first.beige
	.content__container.container
		.content__walnut.content-float
			.content-float__image
				img(src="./dist/assets/img/tree-heart-shaped.jpg" alt="Дерево Орех сердцевидный")
			.content-float__info.scroll-effects
				h2.content-float__title.section-title <span>Орех сердцевидный (Juglans cordiformis Max.)</span>
				p.content-float__subtitle
					| уникальное листопадное дерево, относящееся семейству Ореховых
				p.content-float__txt.mb-20
					| Дерево естественно произрастает с орехом Зибольда в лесах Японии на о-ве Хонсю и других островах.
					| Дерево обычно имеет шикарную раскидистую крону и достигает высоты 15-18 м.
				p.content-float__txt
					| <span>Кора</span> ствола ствола светло-серая, побеги коричневатые, опушенные, липкие, вершинные почки на них крупные, длиной до 2 см.
		.content__description.content-descr.d-flex
			.content-descr__info.content-descr__info_first
				p.content-descr__txt.mb-30
					| <span>Листья</span> очень крупные, 50-100 см длины, с 11-15 листочками. Последние несимметричные, продолговато-овальные, на вершине заостренные, почти сидячие или на коротких черешках, с верхней стороны голые, с нижней вдоль жилок опушенные. Достигают длины 6-18 см и ширины 3-5 см.
				p.content-descr__txt
					| <span>Плоды</span> в кистях по 7-12 шт., наружеплодник (перикарп) зеленой окраски, железисто-опушенный, длиной до 5 см и шириной 4 см.
			.content-descr__info
				img(src="./dist/assets/img/walnut-shoots-heart-shaped.jpg" alt="побеги грецкого ореха").content-descr__img
