section.content.content-fifth.white
	.content__container.container
		.content__walnut.content-sanitary.content-sanitary_walnut-black
			.content-sanitary__info
				h5.content-sanitary__title Санитарные свойства
				.content-sanitary__descr
					p.content-sanitary__txt Благодаря богатому биохимическому составу препараты из листьев ореха черного применяются при лечении язв, гнойных ран, дерматошюшей и других кожных заболеваний, при простатите и проктологии. Внутрь применяется как диуретическое (мочегонное), антипаразитарное, противодиабетическое средство. Они повышают иммунитет, обладают общетонизирующим и укрепляющим организм действием. Околоплодники и листья ореха черного, а также препараты на их основе, применяются как биологические добавки (БАД).
					p.content-sanitary__txt Листья ореха черного выделяют фитонциды, способные убивать болезнетворные микробы. Многие исследователи отмечают свойство летучих выделений ореха черного отпугивать мух, оводов, комаров, в связи с чем, он рекомендован для зоолесомелиоративных насаждений.
