section.content.content-first.beige
	.content__container.container
		.content__walnut.content-float
			.content-float__image
				img(src="./dist/assets/img/tree-black.jpg" alt="Дерево черного ореха")
			.content-float__info.scroll-effects
				h2.content-float__title.section-title <span>Орех черный (Juglans nigra L.)</span>
				p.content-float__subtitle
					| самое крупное дерево рода Juglans
				p.content-float__txt.content-float__txt_black
					| Это самое крупное дерево рода Juglans, достигающее у себя на родине (в благоприятных условиях лесных районов восточной части США) высоты 30-50 м и до 2-х м высоты и 30 см в диаметре на уровне груди.
				p.content-float__txt.content-float__txt_black
					| Крона у деревьев, растущих на свободе – широко-округлая, в густых насаждениях – высокоподнятая, овальная, высоко-декоративная. Побеги коричневато-бурой окраски, изнутри с многокамерными, тонкостенными перегородками.
				p.content-float__txt.content-float__txt_black
					| Кора ствола – темно-бурой окраски с глубокими трещинами.
		.content__description.content-descr.d-flex
			.content-descr__info.content-descr__info_first
				p.content-descr__txt
					| Листья – очередные, сложные, перистые, продолговато-овальной формы длиной 20-40 (60) см, шириной 20 см. Число листочков сложного листа от 11 до 23, чаще от 12 до 22, так как верхушечный листочек обычно не развит. Боковые листочки неправильно-супротивные, продолговато-яйцевидные в основании округлые с длиннозаостренной вершиной, края – мелко и острозубчатые с резковатым ароматическим и бальзамическим запахом, свойственным ореху черному.
			.content-descr__info
				img(src="./dist/assets/img/walnut-shoots-black.jpg" alt="побеги грецкого ореха").content-descr__img
			.content-descr__info.w-100.content-descr__info_last
				p.content-descr__txt
					| Орех относится к ветроопыляемым однодомным растениям с раздельнополыми цветками. Мужские собраны в сложные соцветия – сережки длиной 6-12 см, женские в трех-пяти цветковые колосья.
