section.content.content-fifth.beige
	.content__container.container
		.content__walnut.content-construction
			.content-construction__descr
				p.content-construction__txt.content-construction__txt_bold  Масло ореха черного – продукт XXI века. Высоко ценится масло из плодов ореха черного, так как обладает большой стойкостью против окисления (не горкнет), поэтому оно ценно для кондитерских изделий, находит применение в косметической и фармацевтической промышленности. Благодаря своим высоким пищевым качествам масло ореха черного признано продуктом XXI века.
				p.content-construction__txt Орех черный является прекрасной породой для зеленого строительства. Как вполне декоративное стройное могучее дерево он рекомендуется для одиночных, групповых и аллейных посадок в населенных пунктах, а также для введения в парковые массивы, сады, придорожные, приводоемные и другие озеленительные посадки на всех территориях, где он хорошо себя хорошо чувствует и достаточно зимостоек. Большое значение имеет в озеленении дорог – шоссейных и грунтовых.
