section.content.content-second.white
	.content__container.container
		.content__walnut.content-flex.content-flex-center.d-flex
			.content-flex__info
				p.content-flex__txt
					| <span>Цветение</span> женских и мужских соцветий на дереве не одновременное. Цветение мужских соцветий (сережки) – вторая половина мая – начало июня. Женское цветение – первая половина июня. Деревья, на которых первыми цветут пестичные цветки, называются протогиничными, а на которых первыми зацветают тычиночные – протоандричными.
				p.content-flex__txt
					| <span>В плодоношение вступают на 6-9-й год жизни.</span> Созревание плодов – с конца сентября до середины октября. Для лучшего плодоношения необходимо иметь несколько растений.
			.content-flex__img
				img(src="./dist/assets/img/black-walnut-earrings.jpg" alt="Сережки ореха черного")
				p.content-flex__img-descr Сережки ореха черного
			.content-flex__img
				img(src="./dist/assets/img/black-walnut-earrings(2).jpg" alt="Женское цветение ореха черного")
				p.content-flex__img-descr Женское цветение ореха черного
		.content__walnut.content-flex.content-flex-right.d-flex
			.content-flex__img
				img(src="./dist/assets/img/pecan-kernel.jpg" alt="ядро пекана")
			.content-flex__info
				p.content-flex__txt
					| <span>Плод</span> черного ореха – ложная костянка. Состоит из мясистого с резковатым ароматическим запахом околоплодника (перикарпа) и собственно ореха (эндокарпа) и заключенного в эндокарпе ядра с зародышем семени. Количество плодов от 1 до 5 на одной оси.
				p.content-flex__txt
					| Эндокарп, диаметром 3-4 (5) см, темно-коричневый или черный с многочисленными острыми бороздками. Скорлупа толстая и прочная.
				p.content-flex__txt
					| Выход ядра – 11-28 (до 40%) от веса ореха. Отмечается большое разнообразие плодов по форме, величине, прочности скорлупы, вкусу ядра.
		.content__walnut.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/pekan-2.jpg" alt="Замачивание пекана перед посадкой")
			.content-flex__info
				p.content-flex__txt
					| <span>Ядро ореха</span> очень вкусное, обладает особым ароматом, содержит 60% высококачественного масла, 30% высокоценных белков (почти в 2 раза больше, чем у ореха грецкого), 6% углеводов. В США ядро ореха – ценная ароматическая пища.
				p.content-flex__txt
					| Плоды в молочно-восковой спелости – ценное сырье для производства витаминизированного варенья, которое по содержанию витамина С в 1,5-2,6 раза превосходит варенье из ореха грецкого при практически одинаковом содержании других пищевых компонентов.
				p.content-flex__txt
					| <span>Зеленые листья, околоплодники, зеленые плоды и другие части растения – ценнейшее лекарственное сырье.</span>
