section.content.content-third.beige
	.content__container.container
		.content__walnut.content-mansory
			.content-mansory__descr
				.content-mansory__txt
					| Корневая система глубокая, стержневого типа с мощными боковыми ответвлениями и якорными корнями. Известно, что корни черного ореха выделяют токсины, отравляющие при близком совместном произрастании люцерну, томаты, картофель, яблоню, сосну, черную смородину и березу.
				.content-mansory__txt
					| Лучшие сопутствующие породы для ореха черного из деревьев – липа (мелколистная и др.), клены (за исключением ясенелистного и серебристого), граб, груша обыкновенная, яблоня лесная, алыча. Из кустарников – кизил, кизильник, калина обыкновенная, лещина, жимолость татарская, бузина черная и красная, айва японская, клен татарский, свидина, смородина золотистая и др.
			.content-mansory__cards.content-mansory__cards_walnut
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-5.png" alt="Отношение к теплу")
						p.card__title Отношение к теплу
						.card__descr
							p.card__txt К теплу средне требовательный. Считается, что для нормального роста и развития ему необходима сумма активных температур (от 10°С и выше) не менее 2200-2400°С. Однако, плодоносящие деревья ореха черного встречаются до широты Санкт-Петербурга включительно. В условиях Тулы плодоносящее дерево ореха черного оказалось более зимостойким, чем орехи маньчжурский и грецкий, выдержав -38°С в воздухе в 2003 и 2006 г.г., а корневая система -17°С на глубине 3 см зимой 2003 г. Орех черный чувствителен к повреждению весенними заморозками в первые 3 года жизни, даже у себя на родине. При выходе кроны из приземной зоны заморозки ему не страшны. Осенью зеленые органы растения более устойчивы к заморозкам, чем у ореха грецкого.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-2.png" alt="Отношение к свету")
						p.card__title Отношение к свету
						.card__descr
							p.card__txt Светолюбивая, мало-теневыносливая порода. Орех черный считается более теневыносливым, чем орех серый, но менее, чем орех грецкий.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-7.png" alt="Размножение")
						p.card__title Размножение
						.card__descr
							p.card__txt Размножается орех черный семенами, черенкованием, прививками.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-10.png" alt="Отношение к почве")
						p.card__title Отношение к почве
						.card__descr
							p.card__txt Предпочитает плодородные, достаточно увлажненные, с хорошей аэрацией, незасоленные почвы со слабокислой реакцией рН 6-7. На смытых, тяжелых и бедных почвах растет медленно и не достигает крупных размеров.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-8.png" alt="Качества древесины")
						p.card__title Качества древесины
						.card__descr
							p.card__txt  Древесина шоколадно-коричневатого цвета, плотностью 0,60-0,61 г/см3, твердая, крепкая и прочная, легко обрабатывается и хорошо полируется, относится к наиболее ценным древесинам красного дерева (махагони, палисандровое дерево). Она превосходит по качеству древесину ореха грецкого, дуба, бука, ясеня и др. пород.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-1.png" alt="Отношение к влаге")
						p.card__title Отношение к влаге
						.card__descr
							p.card__txt По засухоустойчивости занимает промежуточное положение между орехом грецким и маньчжурским. Считается, что орех черный подходит для культур в поймах рек. В пойме р. Кубани орех черный успешно выдерживает кратковременное затопление, а на родине в Северной Америке, при произрастании в поймах рек, орех черный выдерживает затопление продолжительностью 1-1,5 месяца. При недостатке влаги по нашим наблюдениям (в условиях Тульской области) ядро заполняется хуже. В засушливые года выход ядра значительно ниже, чем в обеспеченные влагой годы. Повышенная потребность в воде для полноценного формирования ядра ореха черного – август – сентябрь.
