section.content.content-third.beige
	.content__container.container
		.content__walnut.content-mansory
			.content-mansory__descr
				.content-mansory__txt
					| Корневая система ореха айлантолистного мощная, стержневидная.
				.content-mansory__txt.content-mansory__txt_no-indent
					| Орех тяжело переносит пересаживание, поэтому молодые саженцы рекомендуется как можно скорее высадить на свое место. Уже двухлетние саженцы имеют уже достаточно развитую корневую систему, и при пересаживании существует большой риск ее повреждения.
				.content-mansory__txt
					| При посадке у саженцев надо подрезать корни, или прищипнуть стержневой корень, иначе орех будет расти медленно.
			.content-mansory__cards.content-mansory__cards_walnut
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-11.png" alt="Ареал распространения")
						p.card__title Ареал<br>распространения
						.card__descr
							p.card__txt В странах Европы распространен довольно широко, впервые введен в культуру во Франции голландским ботаником Ф.Ф. Зибольдом в 1886 году, в США с 1860 года и в нашей стране в Чакве и Сухуми с 1901 года. Разводится преимущественно как высоко-декоративное дерево, имеющее также красивые кистевидные, вкусные плоды и ценную древесину. Во всех местах культуры совершенно зимостоек, страдает только в самые суровые зимы и обладает быстрым ростом. На Украине выращивается также в лесных культурах. В других, более северных местах – одиночно в садах и группами.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-8.png" alt="Качества древесины")
						p.card__title Качества древесины
						.card__descr
							p.card__txt Древесина содержит коричнево-красноватое ядро и сероватого цвета заболонь. Отличается высокими техническими свойствами, ценится в мебельной промышленности, идет на изготовление ружейных лож и на различные столярные изделия.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-6.png" alt="Отношение к низким температурам")
						p.card__title Отношение к низким<br>температурам
						.card__descr
							p.card__txt Орех Зибольда обладает высокой зимостойкостью. Без повреждений выдерживает морозы до -35°С в условиях Тульской области.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-12.png" alt="Очистка воздуха")
						p.card__title Очистка воздуха
						.card__descr
							p.card__txt Орех Зибольда отличается способностью очищать воздух от паров бензина, ацетилена. Поэтому этот вид, как и другие виды орехов, особенно целесообразно высаживать в местах, загрязненных этими выделениями.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-7.png" alt="Размножение")
						p.card__title Размножение
						.card__descr
							p.card__txt Размножается орех Зибольда преимущественно семенным путем – посевом семян на постоянную площадь или в питомнике для выращивания посадочного материала, а также прививкой и черенками побегов. <span>Укореняемость черенков в парниках без применения стимуляторов достигла 30%.</span>
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-1.png" alt="Отношение к влаге")
						p.card__title Отношение к влаге
						.card__descr
							p.card__txt  Орех Зибольда чувствителен к недостатку влаги. При засушливой осени идет слабая закладка женских органов в почках, что отражается на весеннем цветении женскими цветками (по нашим наблюдениям в Туле).
			.content-mansory__descr
				.content-mansory__txt
					| Плоды после сбора очищаются от наружеплодника (перикарпа) и высеваются или же стратифицируются до весеннего посева. Глубина заделки семян осенью 10-12 см, а весной 6-8 см. Необходимо принимать меры борьбы с мышами, которые легко растаскивают орехи по норам.
