section.content.content-first.beige
	.content__container.container
		.content__walnut.content-float
			.content-float__image
				img(src="./dist/assets/img/tree-siebold.jpg" alt="Орех Зибольда")
			.content-float__info.scroll-effects
				h2.content-float__title.section-title <span>Орех Зибольда (Juglans sieboldiana Maxim., syn. J. аilantifolia Carr.)</span>
				p.content-float__subtitle
					| дерево или кустарник рода Орех, семейства Ореховые
				p.content-float__txt
					| Орех айлантолистный, или Орех Зибольда распространен в нашей стране на Курильских островах (о. Кунашир), на юге о. Сахалина и в горных лесах Японии (о-ва Хондо, Хоккайдо, Хонсю, Кюсю и др.), где растет в смешанных хвойных и лиственных насаждениях с участием ясеня маньчжурского, багряника, криптомерии, туевика, дуба монгольского, клена пальмовидного, магнолии и др. Дерево высотой до 20-22,5 м и 1 м в диаметре.
					| Долговечность 200-300 лет.
					| Кора ствола зеленовато-серой окраски, ветви светло-серые, прошлогодние побеги серые с желтоватым оттенком, голые. Листовые следы на верхнем крае с пучком мелких волосков. Молодые побеги железисто-волосистые. Сердцевина побегов беловатая. Почки на концах побегов удлиненные, сплющенные, до 1,2 см длины, боковые часто по 2 одна над другой, округлые, до 0,3 см в диаметре, те и другие коротковолосистые, светло-коричневатые.
		.content__description.content-descr.d-flex
			.content-descr__info.content-descr__info_first
				p.content-descr__txt
					| <span>Листья</span> ореха Зибольда очередные, крупные, до 40-60, иногда до 90 см длины и до 40 см ширины с коричневатым, железисто-опушенным черешком, на котором помещается 9-17, иногда 21 листочек. Листочки продолговато-яйцевидные длиной 7-18 см и шириной 3-6 см, в основании округлые, несимметричные, в вершине короткозаостренные, по краям крупнозубчатые, с верхней стороны зеленые, редковолосистые, с нижней – светлее, но с более густым желтым или рыжеватым опушением. Верхушечный листочек листа хорошо развит, равен боковым или крупнее их, более заострен.
			.content-descr__info
				img(src="./dist/assets/img/walnut-shoots-siebold.jpg" alt="побеги грецкого ореха").content-descr__img
