section.content.content-second.white
	.content__container.container
		.content__walnut.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/siebold-walnut-flowers.jpg" alt="Цветение ореха айлантолистного Зибольда")
				p.content-flex__img-descr Цветение ореха айлантолистного Зибольда
			.content-flex__info
				p.content-flex__txt
					| <span>Цветение ореха Зибольда.</span>
				p.content-flex__txt.no-indent
					| Тычиночные цветки в сережках 15-30 см длины и 1 см толщины. В цветке по 10-15 коротких тычинок.
					| Сережки на ветвях помещаются по 2-5 вместе.
				p.content-flex__txt
					| Пестичные цветки в длинных прямых кистях по 12-20 шт. на одной оси. Пестик цветка густожелезисто опушен, бутыльчатой формы, рыльца длинные, малиново-красные. Цветут, как и тычиночные цветки, в первой половине мая (Украина).
				p.content-flex__txt
					| Деревья ореха Зибольда резко дихогамичны.
		.content__walnut.content-flex.content-flex-center.d-flex
			.content-flex__info
				p.content-flex__txt
					| <span>Плод</span> (перикарп) округлой или яйцевидной формы, нерастрескивающийся, длиной до 5 см, поверхность волосистая, клейкая, в свисающих кистях бывает до 20 плодов.
				p.content-flex__txt
					| Эндокарп (орех) длиной до 4 см яйцевидный с острой вершиной и округлым основанием, слабоморщинистый, почти гладкий, с двумя, как у эндокарпа ореха грецкого, сильно выступающими швами. Скорлупа толстая, изнутри крупнолакунистая.
				p.content-flex__txt
					| <span>Ядро</span> семени небольшое, до 30% от массы эндокарпа, жирность до 63%, хорошего вкуса.
					| Плоды имеют пищевое и техническое значение. <span>Созревают в первой половине сентября.</span>
			.content-flex__img.content-flex__img_mb-30
				img(src="./dist/assets/img/siebold-nut.jpg" alt="Орех Зибольда из Японии")
				p.content-flex__img-descr Орех Зибольда из Японии
			.content-flex__img.content-flex__img_mb-30
				img(src="./dist/assets/img/siebold-nut(2).jpg" alt="Тульская форма ореха Зибольда")
				p.content-flex__img-descr Тульская форма ореха Зибольда
			.content-flex__img
				img(src="./dist/assets/img/siebold-nut(3).jpg" alt="Тульская форма ореха Зибольда")
				p.content-flex__img-descr Тульская форма ореха Зибольда
			.content-flex__img
				img(src="./dist/assets/img/siebold-nut(4).jpg" alt="Тульская форма ореха Зибольда")
				p.content-flex__img-descr Тульская форма ореха Зибольда
