section.delivery#delivery
	.delivery__container.container.scroll-effects
		h2.delivery__title.section-title <span>Буду рад вашим заказам!</span>
		p.delivery__subtitle.section-subtitle Об оплате и доставке
		.delivery__info.d-flex
			.delivery__card.delivery__card_img.card
			.delivery__card.delivery__card_yellow.card
				p.card__txt Хочу обратить Ваше внимание на то, что заказ формируется после его подтверждения.
				p.card__txt 100% оплата до выкопки саженцев. Возможна оплата частями.
				p.card__txt Оплата принимается наличными или безналичным переводом на банковскую карту.
			.delivery__card.delivery__card_white.card
				p.card__txt Доставка заказов осуществляется по всей России по тарифам следующих организаций:
				.card__post.d-flex
					img(src="./dist/assets/img/logo-pochta.png" alt="Почта России")
					img(src="./dist/assets/img/logo-SDEK.png" alt="SDEK")
					img(src="./dist/assets/img/logo-ZHELDOREXP.png" alt="Ж.Д.Э")
					img(src="./dist/assets/img/logo-boxberry.png" alt="boxberry")
				p.card__txt Также заказ можно получить путем самовывоза по адресу:
				address г. Тула ул. Набережная д.44(42)
				a(href="https://yandex.ru/maps/-/CCUBU-ce3B" target="_blank").card__link Смотреть на карте
	.delivery__images.d-flex
		img(src="./dist/assets/img/delivery-1.jpg" alt="delivery-1")
		img(src="./dist/assets/img/delivery-2.jpg" alt="delivery-2")
		img(src="./dist/assets/img/delivery-3.jpg" alt="delivery-3")
		img(src="./dist/assets/img/delivery-4.jpg" alt="delivery-4")
		img(src="./dist/assets/img/delivery-5.jpg" alt="delivery-5")
