section.hero#hero
	.hero__container.container
		.hero__offer.offer
			.offer__logo
				img(src="./dist/assets/img/logo-offer-1.png" alt="Логотип")
			h1.offer__title.animate-title Качественные саженцы
			p.offer__subtitle орехоплодных и&nbsp;других&nbsp;культур
			p.offer__descr Заказы принимаются круглый год
			a(href="#contacts").offer__btn.scroll.btn Заказать
			a(data-fslightbox="video" href="./video/video.mp4").offer__play
				svg(width="58" height="58" viewBox="0 0 58 58" xmlns="http://www.w3.org/2000/svg")
					circle(cx="29" cy="29" r="28" fill="#32384B" stroke="white" stroke-width="2")
					path(d="M42 29L21 41.1244L21 16.8756L42 29Z" fill="white")
	.hero__slider
		.hero__wrapper.swiper-wrapper
			.hero__slide.swiper-slide
				.hero__img(style="background-image: url('./dist/assets/img/slide1.jpg')")
			.hero__slide.swiper-slide
				.hero__img(style="background-image: url('./dist/assets/img/slide2.jpg')")
			.hero__slide.swiper-slide
				.hero__img(style="background-image: url('./dist/assets/img/slide3.jpg')")
