section.history
	.history__container.container.scroll-effects
		h2.history__title.section-title <span>Немного истории</span>
		p.history__subtitle.section-subtitle О роде Орех (Juglans)
		.history__products.products
			.products__item
				h3.products__name Орех грецкий
				img(src="./dist/assets/img/nut-1.jpg" alt="Орех грецкий")
				a(href="/walnut.html").products__link описание
			.products__item
				p.products__descr
					| Исторически род Juglans возник в меловом периоде на территориях Юго-Западного Китая и Северного Индокитая, откуда его виды быстро распространились по всему Северному полушарию.
					| В Северную Америку миграция шла через Европу, Гренландию, Берингию. В период оледенения (третичный период) виды, произраставшие в Северной Евразии и северных районах Северной Америки, погибли.
					| После отхода ледника началось вторичное заселение северных областей сохранившимися на юге растениями.
					| В настоящее время ареал рода не имеет определенной территории, но доходит в северных широтах нашей страны до 60° с.ш.
			.products__item
				h3.products__name Гибриды ореха грецкого
				img(src="./dist/assets/img/nut-2.jpg" alt="Гибриды ореха грецкого")
				a(href="/walnut-hybrids.html").products__link описание
			.products__item
				h3.products__name Орех маньчжурский
				img(src="./dist/assets/img/nut-3.jpg" alt="Орех маньчжурский")
				a(href="/walnut-manchurian.html").products__link описание
			.products__item
				h3.products__name Орех черный
				img(src="./dist/assets/img/nut-4.jpg" alt="Орех черный")
				a(href="/walnut-black.html").products__link описание
			.products__item
				h3.products__name Орех Зибольда
				img(src="./dist/assets/img/nut-5.jpg" alt="Орех Зибольда")
				a(href="/walnut-siebold.html").products__link описание
			.products__item
				h3.products__name Орех сердцевидный
				img(src="./dist/assets/img/nut-6.jpg" alt="Орех сердцевидный")
				a(href="/walnut-heart-shaped.html").products__link описание
			.products__item
				h3.products__name Орех пекан
				img(src="./dist/assets/img/nut-7.jpg" alt="Орех пекан")
				a(href="#").products__link описание
			.products__item
				h3.products__name Кария сердцевидная
				img(src="./dist/assets/img/nut-8.jpg" alt="Кария сердцевидная")
				a(href="/kariya-heart-shaped.html").products__link описание
