section.progress.scroll-effects
	.progress__container.container
		h2.progress__title На сегодняшний день
		p.progress__subtitle можно отметить определенные достижения моей работы
		.progress__privelege.d-flex
			.progress__card.card
				.card__icon
					img(src="./dist/assets/img/card-1.png" alt="Иконка-1")
				p.card__number.card__number_first 30
				p.card__descr Опыта и практики селекционных достижений
			.progress__card.card
				.card__icon
					img(src="./dist/assets/img/card-2.png" alt="Иконка-2")
				p.card__number.card__number_second 30
				p.card__descr Работ в научной литературе и СМИ
			.progress__card.card
				.card__icon
					img(src="./dist/assets/img/card-3.png" alt="Иконка-3")
				p.card__number.card__number_third 300
				p.card__descr Гибридов рода Juglans L, Carya Nutt и&nbsp;Corylus&nbsp;L
			.progress__card.card
				.card__icon
					img(src="./dist/assets/img/card-4.png" alt="Иконка-4")
				p.card__number.card__number_four 500
				p.card__descr Растений<br>в крупных<br>ботанических садах
