section.range
	.range__container.container.scroll-effects
		h2.range__title.section-title <span>Мой ассортимент</span>
		p.range__subtitle.section-subtitle Вашему вниманию предлагаю
		.range__products.d-flex
			.range__card.card.card_left
				.card__info
					h3.card__title Саженцы орехоплодных культур
					p.card__descr Орех грецкий и его гибриды (обыкновенные и скороплодные формы), орех черный, маньжурсеий, пекан и др.
				.card__images.card__images_left
					.card__wrapper.swiper-wrapper
						.card__slide.swiper-slide
							img(src="./dist/assets/img/орех.jpg" alt="Орех грецкий").card__img
							a(href="/walnut.html") подробнее
						.card__slide.swiper-slide
							img(src="./dist/assets/img/зибольда.jpg" alt="зибольда").card__img
							a(href="/walnut-siebold.html") подробнее
						.card__slide.swiper-slide
							img(src="./dist/assets/img/пекан.jpeg" alt="пекан").card__img
							a(href="#") подробнее
						.card__slide.swiper-slide
							img(src="./dist/assets/img/черный.jpg" alt="Орех черный").card__img
							a(href="/walnut-black.html") подробнее
			.range__card.card.card_right
				.card__info
					h3.card__title Саженцы прочих&nbsp;культур, декоративные&nbsp;растения
					p.card__descr
						| <a href="/ginkgo-biloba.html"> Гинкго билоба, </a>
						| <a href="/dogwood.html"> кизил, </a>
						| <a href="/dogwood-forms.html"> тульские формы кизила, </a>дуб краснолистный, пирамидальный, виноград, шелковица, азимина (банановое дерево), клен зеленокорый и многое другое.
				.card__images.card__images_right
					.card__wrapper.swiper-wrapper
						.card__slide.swiper-slide
							img(src="./dist/assets/img/Агат.jpg" alt="Агат").card__img
							a(href="#") подробнее
						.card__slide.swiper-slide
							img(src="./dist/assets/img/Викторс.jpg" alt="Викторс").card__img
							a(href="#") подробнее
						.card__slide.swiper-slide
							img(src="./dist/assets/img/Кизил.jpg" alt="Кизил").card__img
							a(href="/dogwood.html") подробнее
						.card__slide.swiper-slide
							img(src="./dist/assets/img/Лель.jpg" alt="Лель").card__img
							a(href="#") подробнее
		p.range__description Ассортимент постоянно расширяется!
		a.range__btn.scroll-effects.btn Смотреть прайслист
