section.single-hero.single-hero_walnut-hybrids
	.single-hero__container.container
		h1.single-hero__title.animate-title Гибриды ореха грецкого
		p.single-hero__subtitle Исторический опыт, характеристики и описание
