section.content.content-third.content-third_hybrids.beige
	.content__container.container
		.content-third__descr
			p.content-third__txt
				| Продолжается работа по выведению новых гибридных форм ореха грецкого с лучшими техническими характеристиками и свойствами (скороплодность, латеральный тип плодоношения, большое содержание ядра и легкое его извлечение, хороший вкус) при высокой морозо- и зимостойкости.
			p.content-third__txt
				| Большинство сеянцев всех гибридных форм в третьем поколении дают орехи лучшего качества, чем на материнских растениях.
