section.content.content-first.beige
	.content__container.container
		.content__walnut.content-float.mb-0
			.content-float__image
				img(src="./dist/assets/img/vasin.jpg" alt="Е.Васин")
			.content-float__info.scroll-effects
				h2.content-float__title.section-title <span>Продолжая историю селекционных работ</span>
				p.content-float__subtitle показываем конкретные результаты
				p.content-float__txt
					| Для повышения морозо- и зимостойкости ореха грецкого в середине XX столетия рядом ученых проводились прямые (где орех грецкий - материнское растение) и обратные (где орех грецкий - отцовское растение, опылитель) скрещивания его с дикими видами рода Juglans - орехи маньчжурский, сердцевидный, черный, серый, Зибольда. Полученные гибриды отличались большей устойчивостью к болезням и приспособленностью к зимним условиям новых мест культивирования.
				p.content-float__txt
					| Одни из них были получены в 1960 году воронежскими учеными М.М.Вересиным и М.К.Улюкиной от скрещивания лучших зимостойких форм и сортов ореха грецкого Ф.Л.Щепотьева из г.Купянска Харьковской области с орехами маньчжурским и сердцевидным с Дальнего Востока. В первом поколении гибриды F1 делились на три типа - матроклинный (похожи на мать - грецкий орех), патроклинный (похожи на отца - орех маньчжурский) и промежуточный тип (непохожие ни на одного из родителей.
				p.content-float__txt
					| Продолжив работу воронежских ученых, мы получили качественно новые гибриды, включив в селекционный процесс зимостойкие скороплодные грецкие орехи из восточной Украины, Киева, Волгограда, Краснодара, Кореновска, Минска, которые опыляли гибриды F1. Результаты селекции представлены в таблице ниже.
