section.single-hero.single-hero_dogwood-forms
	.single-hero__container.container
		h1.single-hero__title.animate-title Тульские формы кизила
		p.single-hero__subtitle Исторический опыт, характеристики и описание
