section.content.beige
	.content__container.container
		.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/cutting-1.jpg" alt="Укорененный черенок кизила Тульский -1")
				p.content-flex__img-descr Укорененный черенок кизила<br>Тульский -1
			.content-flex__info.content-flex__info_white-border
				p.content-flex__txt.mb-20 <span>После ряда лет стабильного плодоношения растений мы приступили к вегетативному размножению кизила тульских форм.</span>
				p.content-flex__txt Вегетативно кизил размножают прививкой и черенкованием.
				p.content-flex__txt.no-indent Для прививки потребуется 3-4 года для выращивания подвоев (с учетом стратификации) и большие урожаи для заготовки семян.
				p.content-flex__txt.no-indent Мы пошли другим путем – черенкование зеленым черенком, что позволяет сохранять плоды на еду. Для этого требуются зеленые черенки в стадии роста (в Туле – июнь). Кроме того потребуются стимуляторы роста, определенный субстрат и желательно, ровная температура на период черенкования, высокая влажность в первые два месяца черенкования. Корешки начинают появляться на 45-60 день.
		.content-flex.content-flex-right.d-flex
			.content-flex__img
				img(src="./dist/assets/img/cutting-4.jpg" alt="Укорененные черенки кизила Тульский -4")
				p.content-flex__img-descr Укорененные черенки кизила<br>Тульский -4
			.content-flex__info.pt-0
				p.content-flex__txt К средине октября при благоприятных условиях нарастает хорошая мочка корней до 10-15 см. Первую зиму укорененные черенки надо хранить в подвале при пониженной положительной температуре. Это позволяет закалить корневую систему и получить к весне дополнительный прирост корней. На следующий год идет доращивания саженца. Начало плодоношения (при наличие перекрестного опыления) через 1-2 года. Мы начали заниматься черенкованием проверенных форм (тульские формы) и сортов кизила c 2017 года.
		.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/cutting-5.jpg" alt="Укорененные черенки кизила Тульский -5")
				p.content-flex__img-descr Укорененные черенки кизила<br>Тульский -5
			.content-flex__info.content-flex__info_white-border
				p.content-flex__txt <span>Посадка</span> саженцев кизила должна начинаться в середине осени. В этом случае растение к весеннему сезону, как правило, приживается и дает цветение. Оптимльное место для посадки недалеко от высоких деревьев или кустарников, что позволяет укрыть почки и цветы от долгих солнечных лучей.
