section.content.beige.pt-0
	.content__container.container
		h3.content__title.mb-40 Ниже приводится описание тульских форм кизила
		p.content__subtitle.mb-50 Растения посажены загущено (расстояние между сеянцами 0,5 – 0,7 м), с некоторым угнетением от теплицы, поэтому они не имеют стандартной высоты.
		.content-flex.content-flex-right.d-flex
			.content-flex__img
				img(src="./dist/assets/img/Тульский1.jpg" alt="Плоды кизила обыкновенного. г.Тула.")
				p.content-flex__img-descr Плоды кизила обыкновенного. г.Тула.
			.content-flex__info.content-flex__info_white-border
				p.content-flex__txt <span>Тульский-1 (Крупноплодный-1).</span>
				p.content-flex__txt.no-indent Сеянец неизвестного сорта украинской селекции из Киева. Год появления сеянца - 2005. Начало цветения – 5-й год. Первые плоды на 6-й год. Плоды крупные длиной 3,0-3,5 см, толщиной – 1,8-2,0 см. Форма плодов – бочковидная. Цвет в техническом состоянии – красный, в полной спелости – темно-бордовый, темно-красный. Вкус – типичный кизиловый, приятный.
		.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/Тульский1(2).jpg" alt="Масса плода сеянца Тульский-1")
				p.content-flex__img-descr Масса плода сеянца Тульский-1
			.content-flex__info.content-flex__info_white-border
				p.content-flex__txt Масса плодов – 5,5-8,0 г. Сеянец с самым ранним созреванием плодов: в обычный год – первая половина августа, в очень холодный 2017 г. – первая половина сентября. Для созревания плодов хватает примерно 2000°С активных температур выше 10°С (САТ). При благоприятных условиях возможно созревание в конце июля. Сбор плодов в три приема. Высота растения в 14 лет – 2,4 м.
