section.content.white
	.content__container.container
		.content-flex.content-flex-right.d-flex
			.content-flex__img
				img(src="./dist/assets/img/Тульский5.jpg" alt="Плоды кизила Тульский-5")
				p.content-flex__img-descr Плоды кизила Тульский-5
			.content-flex__info
				p.content-flex__txt <span>Тульский-5.</span>
				p.content-flex__txt.no-indent Сеянец неизвестного сорта украинской селекции из Киева. Год появления сеянца - 2005. Начало цветения – 6-й год. Первые плоды - на 7-й год. Плоды достаточно крупные, бочковидной формы, длиной 3,0-3,5 см. Цвет спелых плодов – темно-красный. Вкус – типичный кизиловый. Масса плодов – 5,0-6,0 г. Плоды созревают в конце августа – первой половине сентября. Сбор плодов в три приема. Высота растения в 14-лет – 2,0 м.
