section.content.beige
	.content__container.container
		p.content__subtitle.mb-50 <span>Тульский-3.</span> Сеянец неизвестного сорта украинской селекции из Киева. Год появления сеянца - 2005. Изначально проявил слабый рост и развитие. Цветения и плодоношения не отмечено. Высота растения в 14 лет – 1,6 м.
		.content-flex.content-flex-right.d-flex
			.content-flex__img
				img(src="./dist/assets/img/Тульский4.jpg" alt="Плоды кизила Тульский-4")
				p.content-flex__img-descr Плоды кизила Тульский-4
			.content-flex__info.content-flex__info_white-border
				p.content-flex__txt <span>Тульский-4 (Карамельный).</span>
				p.content-flex__txt.no-indent Сеянец неизвестного сорта украинской селекции из Киева. Год появления сеянца - 2005. Начало цветения – 6-й год. Первые плоды - на 7-й год. Плоды бутыльчатой формы длиной до 3,0-3,2 см. Цвет спелых ягод от ярко-красного до темно-красного. Вкус не типичный для кизила – карамельный, сладкий.
		.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/Тульский4(2).jpg" alt="Размер плода сеянца Тульский-4")
				p.content-flex__img-descr Размер плода сеянца Тульский-4
			.content-flex__info.content-flex__info_white-border
				p.content-flex__txt Масса плодов – 4,0-4,7 г. Созревание плодов во второй половине августа, не равномерное: сначала созревает утолщенная часть, затем узкая. Форма Тульский-4 очень урожайная. Плоды собраны в грозди по 5-7 шт. Сбор плодов в 2-3 приема. Высота растения в 14 лет – 2,1 м.
