section.content.white
	.content__container.container
		.content-flex.content-flex-right.d-flex
			.content-flex__img
				img(src="./dist/assets/img/Тульский2.jpg" alt="Плоды сеянца Тульский-2")
				p.content-flex__img-descr Плоды сеянца Тульский-2
			.content-flex__info
				p.content-flex__txt <span>Тульский-2 (Крупноплодный-2).</span>
				p.content-flex__txt.no-indent Сеянец неизвестного сорта украинской селекции из Киева. Год появления сеянца - 2005. Начало цветения – 11-й год. Первые плоды - на 12-й год. Плоды вытянуто-грушевидной формы длиной – 3,5-4,5 см. Цвет – темно-красный.
		.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/Тульский2(2).jpg" alt="Размер плода сеянца Тульский-2")
				p.content-flex__img-descr Размер плода сеянца Тульский-2
			.content-flex__info
				p.content-flex__txt Вкус – кисловато-сладкий с типичной для кизила терпкостью в конце. Масса плодов – 4,6-6,0 г. Созревает в середине августа, сразу после формы Тульский-1. Сбор плодов в два приема. Высота растения в 14 лет – 2,2 м.
