section.content.content-fifth.beige
	.content__container.container
		.content__walnut.content-construction
			h3.content-construction__title Использование ореха грецкого в зеленом строительстве
			.content-construction__descr.content-construction__descr_wilnut
				p.content-construction__txt <span>Орех грецкий</span> – чрезвычайно ценная древесная порода для зеленого строительства. Ценность его заключается в высокой декоративности и большом народнохозяйственном значении. В первую очередь к его выдающимся декоративным качествам относятся крупные размеры ствола и кроны, которых достигает орех уже к 15-20 годам; с возрастом эти размеры все увеличиваются в течение многих десятилетий, так как эта порода обладает в благоприятных условиях долговечностью в несколько столетий. Орех грецкий декоративен не только в облиственном состоянии, но также и поздней осенью, зимой и ранней весной. Молодые ветви его буровато-красноватой окраски, более толстые ветви покрыты гладкой серой корой, лишь впоследствии растрескивающейся и принимающей темно-бурую окраску. Весной появляющиеся молодые листья имеют обычно буровато-красную окраску, у отдельных же деревьев окраска листьев бывает ярко-зеленой. Летом листья становятся интенсивно зелеными с голубовато-серым оттенком и небольшим глянцем.
				p.content-construction__txt Перистость листьев ореха грецкого и крупные размеры их оставляют глубокое впечатление необычности, оригинальности и древнего происхождения этой древесной породы. Сережки с тычиночными цветками и отдельные пестичные цветки с крупными беловатыми рыльцами дополняют глубокую декоративную оригинальность ореха грецкого. Осенью он оживляет пейзаж золотистой окраской своей листвы. Кроме того, имеются и особые садовые, декоративные формы ореха: разрезнолистные, монолистные и др.
				p.content-construction__txt.content-construction__txt_bold  Таким образом, орех грецкий чрезвычайно важен для зеленого строительства как высоко-декоративная порода. Большое значение может также иметь и его экономическое значение. Он выращивается во многих объектах зеленого строительства – в лесопарках, парках, скверах, уличных посадках, на приусадебных участках.
				p.content-construction__txt В лесопарках орех грецкий выращивается в виде крупных чистых групп и в смеси с другими видами по типу лесных культур. Наряду с этим его высаживают и в одиночку, в виде солитеров.
				p.content-construction__txt В парках орех грецкий также пригоден для создания групп насаждений, аллей, посадок вокруг сооружений, павильонов, бассейнов, для солитеров. В скверах орех грецкий пригоден для обсадки границ, а также для посадки внутри сквера в виде аллей или одиночных деревьев. Посадка ореха грецкого на улицах крайне желательна. Хороший уход в уличных линейных посадках обеспечит ореху нормальный рост и развитие. Разведение ореха грецкого на приусадебных участках обычно практикуется около дома для создания тени, а также по границам участка, вблизи от заборов.
				p.content-construction__txt При закладке крупных групп из деревьев с участием ореха грецкого в лесопарках и парках орех следует вводить саженцами или путем посева семян сразу на постоянную площадь. При создании аллей и в одиночных посадках высаживают саженцы, выращенные в питомниках.
			.content-construction__cards.d-flex
				.card
					.card__img
						.card__title Почва для орехового сада
					.card__descr
						p.card__txt Почва для орехового сада подготавливается так же, как и для сада плодового: с осени производят глубокую зяблевую вспашку или плантажную пахоту на глубину 60-70 см, весной землю культивируют и боронуют. Заблаговременно, до посадки саженцев в сад, необходимо сделать разбивку орехового сада: наметить и обозначить на местности посадочные места и выкопать ямы для посадки растений ореха. Ямы выкапывают таких же размеров, как и для плодовых деревьев. Лучше, если эта работа будет проведена с осени и выкопанные посадочные ямы простоят открытыми всю зиму до весны.
				.card
					.card__img
						.card__title Посадка саженцев ореха
					.card__descr
						p.card__txt
							| Посадку саженцев ореха в сад производят весной до распускания почек. Саженцы высаживают на расстояниях в рядах и между рядами 8 или 10 м. Подготавливают саженцы к посадке и производят посадку так же, как и саженцы плодовых деревьев.
						p.card__txt
							| При проведении посадки саженцев ореха грецкого в сад необходим их полив из расчета 2-3 ведра на каждое посаженное растение. Полив создает лучшее облегание корней частицами почвы и обеспечивает хорошую их приживаемость. В дальнейшем в засушливый период также необходимо периодически поливать молодые растения ореха. Уход за почвой в ореховом саду состоит в ее рыхлении и регулярной прополке сорняков.
				.card
					.card__img
						.card__title Применение удобрений
					.card__descr
						p.card__txt
							| Применение удобрений для усиления роста ореха грецкого не всегда необходимо. По своим биологическим свойствам он обладает быстрым ростом и поэтому не требует дополнительного стимулирования. Для его культуры обычно выбирают участки с достаточно плодородной почвой, где в первые годы жизни растений удобрения не нужны. Применять удобрения для усиления роста ореха грецкого можно лишь при выращивании его на бедных, малоплодородных почвах.
						p.card__txt
							| Усиление роста ореха грецкого путем внесения удобрений на достаточно плодородных почвах может привести к нежелательным последствиям. Чрезмерный рост побегов вызовет продолжительную вегетацию, древесина их своевременно не вызреет и растение будет убито зимними холодами.
						p.card__txt
							| Удобрение же ореха грецкого в садах с целью усиления плодоношения его деревьев необходимо и издавна применяется. Для молодых садов ореха грецкого в первые 10 лет после посадки ежегодно вносить на обедненных питательными веществами почвах следующие удобрения из расчета на 1 м2 площади сада, г: сульфата аммония 60, аммиачной селитры 35, суперфосфата 80, калийной соли 15. При отсутствии минеральных удобрений следует вносить на ту же площадь 3-4 кг навоза, а при совместном внесении минеральных и органических удобрений нормы тех и других уменьшаются наполовину. Азотные удобрения вносят весной, остальные осенью, на глубину до 30 см.

