section.content.content-first.beige
	.content__container.container
		.content__walnut.content-float
			.content-float__image
				img(src="./dist/assets/img/tree.jpg" alt="Дерево")
			.content-float__info.scroll-effects
				h2.content-float__title.section-title <span>Грецкий орех (Juglans regia L.)</span>
				p.content-float__subtitle
					| входит в&nbsp;род Juglans&nbsp;L. семейства Juglandaceae&nbsp;A.
					| Rich ex&nbsp;Kunth. Он&nbsp;чрезвычайно изменчив
					| по&nbsp;морфологическим признакам.
				p.content-float__txt
					| Дерево до&nbsp;30&nbsp;м высотой и&nbsp;2&nbsp;м в&nbsp;диаметре. Долговечность&nbsp;&mdash; 400&nbsp;лет, однако, известны и&nbsp;более старые ореховые деревья (1000 лет в&nbsp;Грузии). Отличается высокой декоративностью. Свободно растущие деревья имеют красивую куполо- и&nbsp;шаровидной формы крону, мощную, плотную, густую, почти не&nbsp;пропускающую солнечные лучи.
					| Ствол обычно прямой. Кора стволов молодых деревьев гладкая, от светло-серого до темно-серого цвета, иногда с зеленоватым оттенком, у взрослых деревьев – темно-бурая, с глубокими поперечными и продольными морщинами.
		.content__description.content-descr.d-flex
			.content-descr__info.content-descr__info_first
				p.content-descr__txt
					| Побеги у ореха грецкого относительно толстые (6-12 мм), гладкие, цилиндрические, у старых деревьев несколько сплюснутые,
					| у буйно растущих – часто слаборебристые с широким сердцевидным цилиндром.
					| Молодые побеги при появлении и росте зеленые, опушенные, клейкие; после окончания роста в длину становятся оливково-бурыми, коричнево-серыми, зеленовато-бурыми.
					| После листопада на них отчетливо выделяются крупные листовые следы характерной треугольной формы с тремя рубцами проводящих пучков.
				p.content-descr__txt
					| Почки ореха грецкого разделяются на вегетативные, генеративные и адвентивные (почки восстановления всходов и сеянцев).
					| Вегетативные, или ростовые, почки разделяются на боковые и вершинные. Боковые – яйцевидно-округлые, длиной 3-5 мм, блестящие, покрытые четырьмя чешуйками, располагаются в пазухах листьев.
					| Вершинные почки – конусовидные, серовато-зеленые, до 1 см длиной, с двумя парами волосистых чешуек при основании. Вершинной почкой завершается побег.
			.content-descr__info
				img(src="./dist/assets/img/walnut-shoots.jpg" alt="побеги грецкого ореха").content-descr__img
			.content-descr__info.w-100.content-descr__info_last
				p.content-descr__txt
					| Генеративные почки у ореха грецкого представлены двумя видами: мужскими и женскими.
					| Мужские почки обычно занимают боковое положение на плодоносном побеге, имеют продолговатую конусовидную форму с многочисленными кроющими чешуями.
					| В них формируются мужские или тычиночные цветки. Почки, в которых формируются женские или пестичные цветки, закладываются всегда на концах однолетних, плодоносных побегов.
					| У высокопродуктивных сортов и форм образуются и боковые женские почки.
					| Адвентивные почки, от 4 до 12, формируются у основания центрального побега чуть выше корневой шейки параллельными рядами с двух сторон. Эти почки выполняют функции восстановления растения при повреждении его надземной части.
				p.content-descr__txt
					| Листья ореха непарноперистые, крупные, длиной 20-40 (75) см, ароматные, состоят из 7-9, реже 5-11 (13) листочков яйцевидной или эллиптической формы, уменьшающихся от вершины к основанию листа.
					| Встречаются также простые листья, имеющие одну пластинку и черешок, а также листья с 2 или 4 листочками. Верхушечный листок наибольший по размерам (до 20 см длиной и 10 см шириной) с длинным черешком, боковые листочки почти сидячие.
					| У взрослых деревьев листочки по краям цельно-крайние, а у сеянцев и пневой поросли – редко-зубчатые.
