section.content.content-fifth.white
	.content__container.container
		.content__walnut.content-sanitary.content-sanitary_walnut
			.content-sanitary__info
				h5.content-sanitary__title Санитарные свойства
				.content-sanitary__descr
					p.content-sanitary__txt Листья ореха грецкого содержат и выделяют в воздух фитонцидные вещества, которые пагубно влияют на многие болезнетворные микроорганизмы, отпугивают насекомых. Они благотворно влияют на оздоровление окружающей среды.
					p.content-sanitary__txt По данным ученых, крона ореха грецкого способна очищать воздух от органических веществ восстановителей (бензина, ацетилена и др.), то есть она снижает окисляемость воздуха.
					p.content-sanitary__txt.content-sanitary__txt_decor Сырье ореха грецкого широко используется в народной медицине.
