section.content.content-second.white
	.content__container.container
		.content__walnut.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/Вторичное_женское_соцветие.jpg" alt="Вторичное женское соцветие")
				p.content-flex__img-descr Вторичное женское колосовидное цветение<br>ЭС 1-27С
			.content-flex__info
				p.content-flex__txt
					| <span>Грецкий орех</span> – однодомное, раздельнополое, ветроопыляемое растение. В цветении ореха грецкого выражена дихогамия, т.е. разновременное цветение мужских соцветий и женских цветков на одном и том же растении (сорте). Встречаются три типа цветения деревьев ореха: протоандрия, когда мужские соцветия цветут раньше женских цветков; протогиния, когда женские цветки цветут раньше мужских соцветий; гомогамия, когда совпадает цветение мужских соцветий и женских цветков. Основной тип опыления – перекрестный. Иногда наблюдаются случаи самоопыления. Установлено, что у ореха грецкого наблюдается завязывание плодов без оплодотворения (апомиксис). Апомиксис у ореха грецкого рассматривается как резервный способ размножения в неблагоприятных условиях среды.
		.content__walnut.content-flex.content-flex-right.d-flex
			.content-flex__img
				img(src="./dist/assets/img/Вторичное_мужское_соцветие.jpg" alt="Вторичное мужское соцветие")
				p.content-flex__img-descr Вторичное мужское цветение<br>ЭС 3-32С
			.content-flex__info
				p.content-flex__txt
					| Мужские цветки собраны в многоцветковые толстые зеленые сережки длиной 8-12 см, которые начинают развиваться одновременно с облиствлением или раньше. Число тычинок в цветке колеблется от 6 до 30 штук. Женские цветки – мелкие, невзрачные, продолговато-овальной или округлой формы длиной до 1 см, опушенные с двумя крупными бахромчатыми рыльцами зеленовато-желтой, светло-розовато-желтой окраски.
				p.content-flex__txt
					| Они находятся на верхушках побегов текущего года. Женские цветки у обыкновенных форм ореха располагаются по1-3, в урожайные годы по 4-6 штук в грозди. У гроздевидных форм количество пестичных цветков в грозди доходит до 15-25.
				p.content-flex__txt
					| Генеративные органы формируются летом и заканчивают свое развитие ранней весной. Цветение обычно протекает в конце апреля – первой половине мая, но имеются поздноцветущие формы, у которых даты цветения смещены к концу мая, дваждыцветущие формы, у которых второе цветение наблюдается в июне–июле и ремонтантные формы, цветение которых продолжается до самых холодов.
		.content__walnut.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/Плод_грецкого_ореха.jpg" alt="Плод грецкого ореха")
			.content-flex__info
				p.content-flex__txt
					| <span>Плод грецкого ореха</span> – ложная костянка, покрыт толстой, мясистой, зеленой кожурой (перикарпом или околоплодником), которая при созревании растрескивается и орех выпадает. Орех представлен костянистым эндокарпом, состоящим из двух, иногда трех морщинистых створок, соединенных в той или иной мере выступающим ребром. Внутри эндокарпа находится ядро с зародышем семени. В зависимости от формы ядро составляет 30-80 % от общего веса ореха.
