footer.footer
	.footer__container.container.d-flex
		p.footer__txt
			| Селекционный центр
			| и&nbsp;питомник&nbsp;орехоплодных&nbsp;культур
			| &laquo;Тульский Орех&raquo;
		a(href="#").footer__logo
			img(src="./dist/assets/img/logo-footer.svg" alt="Логотип")
		p.footer__txt
			| © Дизайн сайта
			a(href="#" target="_blank") Андрея Введенского
			| разработка 2022
