main#main.main
	include menu
	include single-pages/walnut-heart-shaped/hero
	include single-pages/walnut-heart-shaped/section-01
	include single-pages/walnut-heart-shaped/section-02
	include single-pages/walnut-heart-shaped/section-03
