main#main.main
	include menu
	include single-pages/ginkgo-biloba/hero
	include single-pages/ginkgo-biloba/section-01
	include single-pages/ginkgo-biloba/section-02
	include single-pages/ginkgo-biloba/section-03
