main#main.main
	include menu
	include single-pages/walnut/hero
	include single-pages/walnut/section-01
	include single-pages/walnut/section-02
	include single-pages/walnut/section-03
	include single-pages/walnut/section-04
	include single-pages/walnut/section-05
