main#main.main
	include menu
	include single-pages/walnut-black/hero
	include single-pages/walnut-black/section-01
	include single-pages/walnut-black/section-02
	include single-pages/walnut-black/section-03
	include single-pages/walnut-black/section-04
	include single-pages/walnut-black/section-05
