main#main.main
	include menu
	include single-pages/kariya-heart-shaped-page/hero
	include single-pages/kariya-heart-shaped-page/section-01
	include single-pages/kariya-heart-shaped-page/section-02
	include single-pages/kariya-heart-shaped-page/section-03
	include single-pages/kariya-heart-shaped-page/section-04
