main#main.main
	include menu
	include single-pages/walnut-siebold/hero
	include single-pages/walnut-siebold/section-01
	include single-pages/walnut-siebold/section-02
	include single-pages/walnut-siebold/section-03
