main#main.main
	include menu
	include home-page/hero
	include home-page/about
	include home-page/progress
	include home-page/history
	include home-page/range
	include home-page/delivery
	include home-page/contacts
