.menu
	nav.menu__navigation
		ul.menu__list
			li.menu__item
				a(href="/") Главная
			li.menu__item.scroll
				a(href="/#about") Обо мне
			li.menu__item.menu__item_red
				a Новинки
			li.menu__item.open-sub
				a Орехоплодные
				ul.menu__submenu.sub-menu
					li.sub-menu__item
						a(href="/walnut.html") Орех грецкий
					li.sub-menu__item
						a(href="/walnut-hybrids.html") Гибриды ореха грецкого
					li.sub-menu__item
						a(href="/walnut-manchurian.html") Орех маньчжурский
					li.sub-menu__item
						a(href="/walnut-black.html") Орех черный
					li.sub-menu__item
						a(href="/walnut-siebold.html") Орех Зибольда
					li.sub-menu__item
						a(href="/walnut-heart-shaped.html") Орех сердцевидный
					li.sub-menu__item
						a Орех пекан
					li.sub-menu__item
						a(href="/kariya-heart-shaped.html") Кария сердцевидная
			li.menu__item.open-sub
				a Другой ассортимент
				ul.menu__sub-menu.sub-menu
					li.sub-menu__item
						a(href="/ginkgo-biloba.html") Гинкго
					li.sub-menu__item
						a(href="/dogwood.html") Кизил
					li.sub-menu__item
						a(href="/dogwood-forms.html") Тульские формы кизила
			li.menu__item
				a Агротехника
			li.menu__item
				a Прайслист
			li.menu__item.scroll
				a(href="/#delivery") Олата и доставка
			li.menu__item.scroll
				a(href="/#contacts") Контакты
			li.menu__item
				a(href="#") Статьи
