section.single-hero.single-hero_kariya-heart-shaped
	.single-hero__container.container
		h1.single-hero__title.animate-title Кария сердцевидная
		p.single-hero__subtitle Биологические особенности и полезные свойства
