section.content.content-third.beige
	.content__container.container
		.content-mansory
			.content-mansory__cards.content-mansory__cards_walnut
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-11.png" alt="Ареал распространения")
						p.card__title Ареал<br>распространения
						.card__descr
							p.card__txt Растет не только в парках и ботанических садах, но и в лесных культурах.
							p.card__txt Произрастает в средней полосе России вплоть до Москвы и Санкт-Петербурга, где известны ее деревья в ряде парков и дендропарков.
							p.card__txt В Курской области в парке Рышковского дома отдыха в 60-летнем возрасте достигает высоты 18 м и 55 см в диаметре, обильно плодоносит.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-7.png" alt="Размножение")
						p.card__title Размножение
						.card__descr
							p.card__txt Размножение карии сердцевидной. Размножается семенами, при посеве следует использовать только семена местного происхождения или из ближайших мест от отборных по росту и устойчивости деревьев. Только в таком случае можно вырастить морозоустойчивое потомство.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-6.png" alt="Морозостойкость")
						p.card__title Морозостойкость
						.card__descr
							p.card__txt Кария сердцевидная - наиболее морозостойка среди всех видов гикори. Интродуцирована в нашей стране с начала прошлого века, она устойчива к морозам на Украине и юго-восточнее. Без повреждений перенесла морозы в -38,5°С в Ясной Поляне Тульской области (2003, 2006 г.г.), -35°С в Санкт-Петербурге в 1997, 2006 г.г. В условиях Тульской области (Ясная Поляна, Кутепово) и Туле растения карии сердцевидной показали высокую морозо- и зимостойкость. В возрасте 10 лет они вступили в плодоношение.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-8.png" alt="Качества древесины")
						p.card__title Качества древесины
						.card__descr
							p.card__txt Древесина высоких технических качеств, но уступает несколько древесине гикори белого и сходна с древесиной ясеня.
			.content-mansory__descr
				.content-mansory__txt
					| Плоды после сбора очищаются от наружеплодника (перикарпа) и высеваются или же стратифицируются до весеннего посева. Посев производят или на постоянное место, или в питомнике. Глубина посева осенью 8-9 см, весной 6-7 см, на 1 м можно высевать не более 10 семян. Необходимо принимать меры борьбы с мышами, которые легко растаскивают орехи по норам.
