section.content.content-second.beige
	.content__container.container
		.content-flex.content-flex-right.d-flex.wrap-wrap
			.content-flex__img.mb-30
				img(src="./dist/assets/img/karia(1).jpg" alt="Плод грецкого ореха")
				p.content-flex__img-descr Мужское цветение карии сердцевидной
			.content-flex__info.border-top-white.mb-30
				p.content-flex__txt
					| <span>Листья</span> карии длиной до 15-25 см с 5-9 листочками, овально-ланцетными до ланцетных, длиной 8-15 см, голые, лишь снизу вдоль нервов опушенные, по краям изогнуто-зубчатые, осенью золотисто-желтые.
				p.content-flex__txt
					| <span>Сережки</span> с тычиночными цветками по 3, до 2,5 см длины, <span>пестичные цветки</span> до 0,5 см длины, светло-зеленые, по 2 на цветоножке.
			.content-flex__img
				img(src="./dist/assets/img/karia(2).jpg" alt="Плод грецкого ореха")
				p.content-flex__img-descr Женские цветки карии сердцевидной в Туле
			.content-flex__img
				img(src="./dist/assets/img/karia(3).jpg" alt="Плод грецкого ореха")
				p.content-flex__img-descr Мужское и женское цветение карии сердцевидной

