section.content.content-second.white
	.content__container.container
		.content__walnut.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/walnut-shoots-karia(2).jpg" alt="Цветение ореха айлантолистного Зибольда")
			.content-flex__info
				p.content-flex__txt
					| <span>Плод карии сердцевидной</span> обратнояйцевидный длиной до 3,5 см. Перикарп тонкий, при созревании растрескивается на 4 створки почти до середины. Эндокарп почти шаровидный островершинный с гладкой тонкой скорлупой, коричневатой окраски, выход ядра 48-60%, оно маслянистое, на вкус горькое.
				p.content-flex__txt
					| Ядра плода карии сердцевидной широко используют в кулинарии, чаще всего в кондитерских изделиях.
				p.content-flex__txt
					| Созревание плодов в условиях Тульской области – октябрь. В благоприятные годы ядро заполняется очень хорошо. Выход ядра составлял 50% (2019 год). Для полноценного формирования ядра необходима сумма активных температур не менее 2400°С и достаточное количество осадков в августе и сентябре, когда идет налив плодов. В засушливые годы и с меньшим теплом плоды часто неполноценные (2017 г. САТ > 10°С составил 2100°С).
		.content__walnut.content-flex.content-flex-center.d-flex
			.content-flex__img.content-flex__img_mb-30
				img(src="./dist/assets/img/karia-nut(1).jpg" alt="Плоды тульских форм карии")
				p.content-flex__img-descr Плоды тульских форм карии сердцевидной урожай 2017 года
			.content-flex__img.content-flex__img_mb-30
				img(src="./dist/assets/img/karia-nut(2).jpg" alt="Плоды тульских форм карии")
				p.content-flex__img-descr Плод карии сердцевидной - Кутепово урожай 2017 года
			.content-flex__img
				img(src="./dist/assets/img/karia-nut(3).jpg" alt="Плоды тульских форм карии")
				p.content-flex__img-descr Плоды карии сердцевидной, Кутепово урожай 2019 года
			.content-flex__img
				img(src="./dist/assets/img/karia-nut(4).jpg" alt="Плоды тульских форм карии")
				p.content-flex__img-descr Плоды карии сердцевидной, Кутепово урожай 2019 года
