section.content.content-first.beige
	.content__container.container
		.content__walnut.content-float
			.content-float__image
				img(src="./dist/assets/img/tree-karia.jpg" alt="Дерево Кария сердцевидная")
			.content-float__info.scroll-effects
				h2.content-float__title.section-title <span>Кария сердцевидная, или горький орех (Carya cordiformis C. Koch., C. amara Nutt.)</span>
				p.content-float__subtitle
					| вид растений из рода Гикори (Carya) семейства Ореховые (Juglandaceae)
				p.content-float__txt.mb-20
					| Дерево естественно широко распространено в восточной части Северной Америки (от Квебека, Онтарио, Миннесоты на севере до Флориды на юге). Растет прямоствольным ширококронным деревом высотой до 30 м и 90 см в диаметре.
				p.content-float__txt.no-indent
					| <span>Кора</span> ствола коричневатая, отслаивающаяся тонкими небольшими пластинками. Почки сжатые с боков, верхушечные до 18 мм длины, серо-желтые, боковые часто по 2-3 одна над другой, причем верхняя из них часто на ножке. Побеги тонкие, вначале опушенные, затем голые, блестящие, коричневатые.
