section.single-hero.single-hero_ginkgo-biloba
	.single-hero__container.container
		h1.single-hero__title.animate-title Гинкго билоба
		p.single-hero__subtitle Биологические особенности и полезные свойства
