section.content.content-third.beige
	.content__container.container
		.content-mansory
			.content-mansory__descr.mb-50
				.content-mansory__txt
					| Гинкго – одно из древнейших растений нашей планеты: по данным палеоботаников, деревья этого рода появились на земле как минимум 180 миллионов лет назад, в юрский период – в эпоху владычества динозавров. Стивен Спилберг приложил много усилий к тому, чтобы включить несколько настоящих деревьев гинкго в декорации своего знаменитого фильма «Парк юрского периода». Из четырех древних видов рода гинкго до наших дней сохранился только один – гинкго двулопастный, который является теперь единственным представителем не только своего рода, но и семейства гинкговых.
			.content__spread.spread.d-flex
				.spread__info
					h4.spread__title Ареал распространения
					p.spread__txt
						| В настоящее время в диком виде гинкго двулопастный произрастает на небольших территориях в Северном и Восточном Китае, где образует леса с хвойными и широколиственными породами. Однако дикорастущий гинкго встречается не так часто и уже в эпоху династии Сун (конец X в.) считался редким и драгоценным деревом. Семена гинкго ежегодно присылали в столицу династии Кайфын, где их сажали в императорских садах. В старину китайцы называли гинкго «серебряным абрикосом».
					p.spread__txt
						| Впоследствии саженцы гинкго были доставлены в Японию и Корею, затем в Голландию, Англию и Америку. В Западной Европе гинкго распространились через французский ботанический сад.
					p.spread__txt
						| Сейчас гинкго широко разводят <span>как декоративное дерево</span> в субтропических и умеренных климатических зонах Европы, Восточной Азии, Северной Америки, Новой Зеландии, на Кавказе, а также на Украине в Крыму вплоть до широты Киева. Встречается в культуре в Прибалтике и севернее. В Петербурге находится вблизи северных пределов произрастания (-36°С), хотя может выносить понижения температуры до -30°С. Экземпляр, растущий около Пальмовой оранжереи (возраст около 60 лет), ранее выращивали в оранжерее, а в 1960 г. был высажен в парк в наиболее теплое и солнечное место.
				.spread__image
					p.spread__descr Гинкго билоба, возраст 65 лет.<br>Ботанический сад РАН<br>г.Санкт-Петербург
			.content-mansory__descr
				.content-mansory__txt.content-mansory__txt_bold.mb-30
					| Орехи гинкго употребляют в пищу и используют в восточной медицине. Научная медицина в последнее время также проявляет большой интерес к свойствам этого растения.
				.content-mansory__txt
					| Это уникальное реликтовое растение, которое не имеет аналогов в мире флоры. На его основе уже многие годы производят тысячи фармакологических препаратов от многих недугов.
			.content-mansory__cards.content-mansory__cards_walnut
				.card-wrapper
					.card.pd-0
						.card__img
							img(src="./dist/assets/img/mansory-img.jpg" alt="image")
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-13.png" alt="Против старения")
						p.card__title Против старения
						.card__descr
							p.card__txt Препараты семян и листьев гинкго все более и более активно используются в научной медицине для снятия тяжелых симптомов старения. Их применяют при ослаблении памяти, зрения, слуха, расстройствах сердечной деятельности, нарушениях кровообращения. Фармацевтическая промышленность производит препарат танакан, разработанный на основе экстракта листьев гинкго. Танакан выпускается в таблетках и в растворе для внутреннего применения. Его назначают по 3 таблетки или по 3 мл в сутки при ишемических и возрастных изменениях функциональной активности мозга: при провалах в памяти, ослаблении внимания и интеллекта, психических и поведенческих отклонениях, последствиях черепно-мозговых травм.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-14.png" alt="В проктологии")
						p.card__title В проктологии
						.card__descr
							p.card__txt Клинические исследования подтвердили эффективность препаратов гинкго при остром и хроническом геморрое. Экстракты семян и листьев гинкго снимают боли, зуд, жжение и останавливают кровотечения.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-15.png" alt="Биологически активные вещества")
						p.card__title Биологически<br>активные вещества
						.card__descr
							p.card__txt Листья гинкго содержат массу природных стимуляторов жизненной силы, что особенно важно при ряде хронических сосудистых заболеваний. Препараты гинкго не имеют никаких побочных действий. Они помогают организму самому бороться с его главным врагом – старостью и дряхлостью со всеми их проявлениями, даже с импотенцией.
							p.card__txt Биологически активные вещества гинкго снижают повышенную концентрацию жиров, содержание холестерина в крови, чем предотвращают сердечные болезни от приступов до инфарктов, оказывают положительное влияние на процессы обмена веществ, тормозят окисление липидов и превращение их в пероксиды (бляшки), защищает жиры от разрушения свободными радикалами и весьма эффективны в качестве стимулятора памяти, повышает сопротивление кровеносных сосудов, предотвращает хрупкость капилляров, снижает тромбообразование в сосудах.
							p.card__txt  Улучшает капиллярное кровообращение, в том числе и сосудов мозга, действует на человека как <span>мощный природный стимулятор</span>, не имеющий никаких противопоказаний, хорошо сочетается с другими лекарственными травами, биодобавками и витаминами.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-16.png" alt="При сердечно-сосудистых болезнях")
						p.card__title При сердечно-сосудистых болезнях
						.card__descr
							p.card__txt Гинкго при сердечно-сосудистых и эндокринных заболеваниях. Препараты гинкго успешно применяют при различных сердечно-сосудистых заболеваниях: атеросклерозе, венозной недостаточности, гипертонии, мигренях, инсультах, сердечных приступах, варикозном расширении вен и тромбозах. Также их используют при диабете. Гинкго понижает кровяное давление, способствует рассасыванию тромбов, расширяет кровеносные сосуды.
				.card-wrapper
					.card
						.card__icon
							img(src="./dist/assets/img/card-icon-17.png" alt="Гинкго и алкоголь")
						p.card__title Гинкго и алкоголь
						.card__descr
							p.card__txt  В японской альтернативной медицине орехи гинкго используют как средство против алкогольного опьянения. Для этого их следует употреблять одновременно с алкогольным напитком. Предполагают, что в орехах гинкго содержатся вещества, ускоряющие метаболизм алкоголя.
			h3.content-mansory__title
				| Рекомендации по применению
			.content-mansory__descr
				.content-mansory__txt
					| Все формы препаратов гинкго сохраняются 5 лет. Экстракты снижают его эффективность. Проще принимать сухой порошок листьев по 1 ч.л. один-три раза в день (здоровым и молодым меньше) во время еды, добавляя в пищу как перец.
				.content-mansory__txt.mb-30
					| В медицине ряда стран Европы, Азии и Америки используют также порошок семян гинкго в капсулах и препараты, сочетающие в себе экстрагированные из орехов гинкго вещества с определенными стимуляторами (например, с женьшенем). Эти препараты снимают многие неприятные симптомы: головокружение, тошноту, шум в ушах, провалы в памяти, расстройства внимания и др. Они приносят облегчение при таких тяжелых заболеваниях, как болезнь Альцгеймера и болезнь Паркинсона, а также при дистрофии мышц, нервном истощении, склерозах и при некоторых формах рака. Экстракты семян и листьев гинкго замедляют старение центральной нервной системы и подавляют активность свободных радикалов в организме, ведущую к раковым заболеваниям.
				.content-mansory__txt.mb-30
					| <span>Лекарственными свойствами гинкго лучше пользоваться постоянно. Для этого лучше всего иметь свое дерево.</span> И это к счастью возможно почти для всех! Гинкго выдерживает –42°С и может быть выращено без какой-либо защиты до линии С.-Петербург-Казань и в южных районах Зауралья. Выращивать как яблони и груши. Предпочитает глубокую, плодородную дренированную почву. Успешно растет при повышенной влажности почвы. Листья собирают в период опадения. Высушивают над газовой плитой или в других сушилках. Измельчают на кофемолках. Гинкго – подарок от Бога.
				.content-mansory__txt
					| <span>В озеленении деревья гинкго высоко ценится за оригинальную форму, красивую листву.</span> Древесина ядровая, легкая и мягкая, хорошо поддается обработке. Используется для поделок. Это «живое ископаемое» чрезвычайно устойчиво к задымлению воздуха, грибковым и вирусным заболеваниям, редко повреждается насекомыми.
