section.content.content-second.white
	.content__container.container
		.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/ginkgo-shoots(1).jpg" alt="Мужские колоски Гинкго билоба")
				p.content-flex__img-descr Мужские колоски Гинкго билоба
			.content-flex__info
				p.content-flex__txt
					| <span>Цветение гинкго.</span> Гинкго – двудомное, ветроопыляемое растение. Крона молодых мужских растений пирамидальная, позже цилиндрическая. Женские растения приземистые, с густой раскидистой кроной и своеобразным ветвлением.
				p.content-flex__txt
					| Микростробилы, мужские колоски, или мужские «цветки», состоят из многочисленных тычинок (микроспорофиллов), расположенных на оси колоска по спирали, каждый микроспорофилл на нижней стороне имеет два микроспорангия (пыльника), в которых образуются микроспоры в виде желтой пыльцы. Мегастробилы, или женские «цветки», состоят из оси, несущей кроющие чешуи, в пазухах которых расположены семенные чешуи - мегастробилы. Микро- и мегастробилы закладываются в конце августа, после окончания роста побегов. Образуются они на укороченных побегах.
		.content-flex.content-flex-right.d-flex
			.content-flex__img
				img(src="./dist/assets/img/ginkgo-shoots(2).jpg" alt="Женский цветок Гинкго билоба")
				p.content-flex__img-descr Женский цветок Гинкго билоба
			.content-flex__info
				p.content-flex__txt
					| Микростробилы имеют сережкообразную форму (до 2, иногда 3-4 см длины), по 3-5 в пучке, при созревании пыльцы ярко-желтые. В условиях Киева пыльца созревает 20 – 25 мая. В этот период на семязачатках мегастробилов выделяется жидкость, которая держится очень короткое время (2-3 дня), тогда как пыление растягивается на 5-7 дней.
				p.content-flex__txt
					| По наблюдениям киевских ботаников мужские особи гинкго вступают в генеративную фазу (фазу плодоношения) в 26 лет, женские – в 28.
		.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/ginkgo-shoots(3).jpg" alt="Ветвь Гинкго двулопастного с плодами")
				p.content-flex__img-descr Ветвь Гинкго двулопастного с плодами
			.content-flex__info
				p.content-flex__txt
					| <span>Плоды</span> гинкго дают не каждый год всхожие семена. Семена гинкго не имеют периода покоя и, могут прорасти, как только зародыш достигнет максимального развития. Это архаизм, из-за которого гинкго считается одним из наиболее примитивных голосеменных растений.
				p.content-flex__txt
					| В районах Киева плоды созревают в конце сентября – начале октября. Спелые плоды падают на землю и издают неприятный запах. Лучшие урожаи – 54-66 кг плодов с дерева.
