section.content.content-first.beige
	.content__container.container
		.content__walnut.content-float
			.content-float__image
				img(src="./dist/assets/img/tree-ginkgo.jpg" alt="Дерево Гинкго билоба")
			.content-float__info.scroll-effects
				h2.content-float__title.section-title <span>Гинкго двулопастный (Ginkgo biloba L.)</span>
				p.content-float__subtitle
					| листопадное голосеменное дерево семейства гинкговых
				p.content-float__txt Дерево  высотой до 30-40 м, диаметром ствола 2 - 4,5 м. Верхушка дерева покрыта побегами различной длины, на концах которых каждую весну появляются пучки веерообразных листьев, из-за формы которых вид и получил свое название – «двулопастный».
				p.content-float__txt В субтропиках Северной Америки пекан достигает высоты 60 м и 2 м в диаметре, в более умеренном климате соответственно 30-40 м и 60-80 см.
				p.content-float__txt.pt-11 Кора дерева серая, с глубокими трещинами. Оно живет очень долго, и в Китае встречаются экземпляры, возраст которых достигает 3 – 4 тысячи лет.
				p.content-float__txt Гинкго – живое ископаемое, единственный представитель древнего порядка гинкговых, процветавших в мезозое, особенно в юре (от 190-200 млн. лет до 130-140 млн. лет назад).
		.content__description.content-descr.d-flex
			.content-descr__info.content-descr__info_first
				p.content-descr__txt
					| <span>Листья</span> на длинных черешках, кожистые, вееровидные или ромбические, нежно зеленого цвета с волнистыми краями, раздленные на две лопасти (отсюда и название).
					| Осенью листья принимают удивительную золотисто-желтую и оранжевую окраску. Многие художники издавна стремились запечатлеть эту красоту.
				p.content-descr__txt
					| Утонченная и уникальная форма листьев гинкго с древности использовалась в декоративных целях.
			.content-descr__info
				img(src="./dist/assets/img/ginkgo-shoots.jpg" alt="побеги грецкого ореха").content-descr__img
