section.content.content-second.white
	.content__container.container
		.content-flex.content-flex-left.d-flex
			.content-flex__img
				img(src="./dist/assets/img/dogwood-shoots(1).jpg" alt="Плоды кизила обыкновенного. г.Тула.")
				p.content-flex__img-descr Плоды кизила обыкновенного. г.Тула.
			.content-flex__info
				p.content-flex__txt
					| <span>Плод</span> - сочная костянка, косточка продолговатая. По форме плоды бывают коротко- и длинноовальные, цилиндрические, грушевидные, по цвету - красные, лиловые, желтые от 1 до 3,5 см длины и до 2 см ширины, массой от 2 до 10 г. Вес 100 плодов вместе с косточками колеблется в зависимости от их величины и формы - от 190 до 400 г. Мякоть кислая, кисло-сладкая и довольно сладкая, вяжущая. Плоды созревают в августе-сентябре.
