section.content.content-first.content-first_dogwood.beige
	.content__container.container
		.content-float.content-float_right
			.content-float__image
				img(src="./dist/assets/img/map-kizil.jpg" alt="map-kizil")
				p.content-float__image-descr Карта произрастания кизила
			.content-float__info
				p.content-float__txt Ботаники считают, что род Кизил (Cornus) состоит из 4 видов:
				p.content-float__txt.no-indent <span>Cornus mas L.</span> - Кизил обыкновенный,
				p.content-float__txt.no-indent <span>Cornus officinalis Siebold et Zucc.</span> - Кизил японский,
				p.content-float__txt.no-indent <span>Cornus chinensis Wanger.</span> - Кизил китайский
				p.content-float__txt.no-indent и <span>Cornus sessilis Torr.</span> - Кизил американский.
				p.content-float__txt.no-indent.mb-40 <span>Виды кизила растут в основном в северном полушарии.</span>
				p.content-float__txt Один вид локализован в горах Камеруна (Африка). Половина видов сосредоточена в Центральной и Восточной Азии, остальные произрастают в зоне атлантического и тихоокеанского побережий и в центральной части Северной Америки. Ботаниками выделено более 10 форм кизила.
				p.content-float__txt.pt-11 В культуру в основном введены формы одного вида - Cornus mas L. В диком виде он произрастает в странах Средней и Южной Европы и в северной части Малой Азии, а также на Кавказе, в Молдавии, Крыму, на юге Украины.
		.content-float
			.content-float__image
				img(src="./dist/assets/img/tree-dogwood.jpg" alt="Дерево Кизил обыкновенный")
			.content-float__info.scroll-effects
				h2.content-float__title.section-title <span>Cornus mas L. - Кизил обыкновенный</span>
				p.content-float__subtitle
					| кустарник или небольшое дерево; вид рода Кизил семейства Кизиловые.
				p.content-float__txt.no-indent представлен деревьями и многоствольными кустарниками до 3-8 м высоты. У них простые, супротивные, широковеретеновидные, цельнокрайные листья, имеющие перистое жилкование, поздноопадающие осенью. Ветви горизонтально распростертые, с черноватой корой. К почвам нетребователен, однако, предпочитает легкие, плодородные, с хорошей аэрацией и при pH 5,5-6.
		.content__description.content-descr.d-flex
			.content-descr__info.content-descr__info_first
				p.content-descr__txt
					| <span>Цветки</span> мелкие, золотисто-желтые, обоеполые, собраны в зонтичные соцветия, в зонтике 15-25 цветков. Распускаются раньше листьев в апреле при температуре 8-12°С, имеют высокую устойчивость к низким температурам. Цветение растянуто на 10-14 дней.
				p.content-descr__txt
					| Каждый цветок образует один плод-костянку всего лишь с двумя семенами.
			.content-descr__info
				img(src="./dist/assets/img/dogwood-shoots.jpg" alt="Цветение тульского кизила").content-descr__img
				p.content-descr__img-descr Цветение тульского кизила
